<h1>Basic Chat App</h1>


<div class="chat-messages-container">
	<% @messages.each do |message| %>
		<div><%= message.content %></div>
	<% end %>
</div>
<div class="new-message-container">
	<textarea class="new-message"></textarea><div class="send-button">Send</div>
</div>

