<!DOCTYPE html>
<html>
<head>
  <title>TestingFaye</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
